nav {
    border: 1px solid black;
}
.navbar-collapse {
    border: 2px solid  white;
}

.navbar-nav {
    border: 3px rgb(195, 241, 231) solid;
}

.jumbotron {
    background-image: url("../img/bg3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 350px;
}

.content-main {

}